# NOTEBOOK SETTINGS
[notebook]
dir = "~/Sync/Notes/zk/"

# SETTINGS
[note]

# Language used when writing notes.
# This is used to generate slugs or with date formats.
language = "en"

# The default title used for new note, if no `--title` flag is provided.
default-title = "Untitled"

# Template used to generate a note's filename, without extension.
filename = "{{id}}-{{slug title}}"

# The file extension used for the notes.
extension = "md"

# Template used to generate a note's content.
# If not an absolute path, it is relative to .zk/templates/
template = "default.md"

# Configure random ID generation.

# The charset used for random IDs.
id-charset = "alphanum"

# Length of the generated IDs.
id-length = 8

# Letter case for the random IDs.
id-case = "lower"


# EXTRA VARIABLES
[extra]
author = "Clement POIRET"


# GROUP OVERRIDES
[group.permanent]
paths = ["permanent"]

[group.permanent.note]
template = "permanent.md"

[group.fleeting]
paths = ["fleeting"]

[group.fleeting.note]
filename = "{{format-date now}}"
template = "fleeting.md"


# MARKDOWN SETTINGS
[format.markdown]
# Enable support for #hashtags
hashtags = true
# Enable support for :colon:separated:tags:
colon-tags = true


# EXTERNAL TOOLS
[tool]

# Default editor used to open notes.
editor = "nvim"

# Pager used to scroll through long output.
pager = "less -FIRX"

# Command used to preview a note during interactive fzf mode.
fzf-preview = "bat -p --color always {-1}"

# On which shell to run the aliases
shell = "/run/current-system/sw/bin/bash"
# shell = "/bin/bash"

# NAMED FILTERS
[filter]
recents = "--sort created- --created-after 'last two weeks'"

# COMMAND ALIASES
[alias]

# Edit the last modified note.
edlast = "zk edit --limit 1 --sort modified- $@"

# Edit the notes selected interactively among the notes created the last two weeks.
recent = "zk edit --sort created- --created-after 'last two weeks' --interactive"

# Show a random note.
lucky = "zk list --quiet --format full --sort random --limit 1"

# list notes for editing
ls = "zk edit --interactive"

# sear notes by tags
t = "zk edit --interactive --tag $@"

# new fleeting entry
nef = 'zk new --no-input "$ZK_NOTEBOOK_DIR/fleeting" --title $@'
nep = 'zk new --no-input "$ZK_NOTEBOOK_DIR/permanent" --title $@'

fleetings = "zk edit --sort created- $ZK_NOTEBOOK_DIR/fleeting --interactive"
permanents = "zk edit --sort created- $ZK_NOTEBOOK_DIR/permanent --interactive"

# update zk notes
#update = "cd $ZK_NOTEBOOK_DIR; git add -A; git commit -am 'updating'; git push; cd -"

# remove a files
rm = "zk list --interactive --quiet --format path --delimiter0 $@ | xargs -0 rm -vf --"

# print the backlinks of a note
bl = "zk list --link-to $@"

# open last zk in slides
slides = "zk list --interactive --quiet --format path --delimiter0 $@ | xargs -0 slides"

# LSP (EDITOR INTEGRATION)
[lsp]

[lsp.diagnostics]
# Report titles of wiki-links as hints.
wiki-title = "hint"
# Warn for dead links between notes.
dead-link = "error"
